/* Stylesheet*/
#daplace{
	border: 10px groove #FF0000;
	border-bottom-style: dotted;
	border-bottom-color: #FF9933;
	background-color: #66FFFF
}
#laplaya{
	border: 7px dotted #00FF33;
	text-align: center;
	background-color:#CC3399
	}
#blah{
	border:10px solid red;
	margin-bottom:15px;
	margin-top:15px;
	padding-left:15px;	
}	
